// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Functions
@import "functions";
//Menu-Navbar
@import "top";
//Main
@import "main";
//Footer
@import "footer";
// Font-Awesome
$fa-font-path: "../../assets/fonts" !default;
@import '../../../node_modules/font-awesome/scss/font-awesome.scss';

html, body {
  font-family: 'Raleway', sans-serif !important;
  margin: 0;
  padding: 0.1%;
  text-rendering: optimizeLegibility;
  ::-webkit-scrollbar {
    display: none;
  }
}

a {
  color: #000;
  &:hover {
    text-decoration: underline !important;
    color: #000;
  }
}

.full-height {
  min-height: 50vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

